<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AAEmu.DBViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AAEmu.DBViewer.Properties.Settings>
            <setting name="DefaultGameLanguage" serializeAs="String">
                <value>en_us</value>
            </setting>
            <setting name="DBFileName" serializeAs="String">
                <value>data\compact.sqlite3</value>
            </setting>
            <setting name="GamePakFileName" serializeAs="String">
                <value>C:\ArcheAge\Working\game_pak</value>
            </setting>
            <setting name="GridMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MapShowWorld" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapShowContinent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapShowZone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapShowCity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapShowMainMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapShowRoadMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUpdated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewGMCommands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistorySearchNpc" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySearchItem" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySearchQuest" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySearchSkill" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySearchBuff" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySearchDoodad" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySearchSQL" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySearchSphere" serializeAs="String">
                <value />
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value />
            </setting>
        </AAEmu.DBViewer.Properties.Settings>
    </userSettings>
</configuration>