<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AAEmu.DBEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AAEmu.DBEditor.Properties.Settings>
            <setting name="ClientPak" serializeAs="String">
                <value>data\game_pak</value>
            </setting>
            <setting name="ServerDB" serializeAs="String">
                <value>data\compact.sqlite3</value>
            </setting>
            <setting name="MySQLUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQLDB" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MySQLGame" serializeAs="String">
                <value>aaemu_game</value>
            </setting>
            <setting name="MySQLLogin" serializeAs="String">
                <value>aaemu_login</value>
            </setting>
            <setting name="ClientLanguage" serializeAs="String">
                <value>en_us</value>
            </setting>
            <setting name="IsUpdated" serializeAs="String">
                <value>False</value>
            </setting>
        </AAEmu.DBEditor.Properties.Settings>
    </userSettings>
</configuration>